/*Import FontStyles*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

/*Reset*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

u,li,a{
    text-decoration: none;
    list-style: none;
    color: currentColor;
}
img{
    max-width: 100%;
    display: block;
}

body{
    background: linear-gradient(135deg,#121318,#1f2233);
}
/*Menu*/

nav{
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px calc((100% - 940px)/2);
    z-index: 10;
}

.logo{
    position: relative;
    width: 150px;
    height: 50px;
    margin: 0 5px;
}

nav ul{
    position: relative;
    display: flex;
}

ul li + li{
    margin-left: 5px;
}

ul li a{
    padding: 0 5px 5px 5px;
    font-size: 18px;
    color:rgb(146,96,191);
    transition: .2s;
}

ul li a:hover{
    border-bottom: 1px solid rgb(146,96,191);
}
.hamburguer{
	width: 24px;
	height: 16px;
	background: url('img/icon-hamburguer.svg');
	cursor: pointer;
    display: none;
    margin: 0 5px;
}

/*Responsive Menu*/
@media only screen and (max-width:425px){
    .hamburguer{
		display: block;
    }
    
    header h1{
        font-size: 48px;
    }

    nav ul{
		width: 100%;
        position: absolute;
        top: 71px;
		display: none;
		margin: 0 auto;
        flex-direction: column;
        align-items: center;
		font-weight:bold;
		letter-spacing: .1em;
		border-radius: 5px;
		background:rgba(0, 0, 0, 0.2);
	}

	.hamburguer.active{
		display: block;
		width:20px;
        height: 20px;
		background: url('img/icon-close.svg')
	}

	ul.active{
		display: flex;
    }

    nav ul li a:hover{
        color: darkgray;
        border: darkgrey;
    }
}

/*Header*/
header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('img/93c6aaa4424c468db1c9f7904eb400d8.gif') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1{
    font-size: 56px;
    letter-spacing: .2em;
    font-weight: bold;
    color:rgb(146,96,191);
}

header p{
    font-size: 24px;
    margin: 20px 0;
    color:rgba(146,96,191, 0.8);
}

.button{
    position: absolute;
    bottom: 10vh;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: rgb(146,96,191);
}

@keyframes anima {
    to {
        opacity: 0.1;
        transform: scale(0.85) translateY(20px);
    }
}

.button::after{
    cursor: auto;
    content: '▼';
    font-size: 25px;
    color:rgba(146,96,191,0.5);
    position: absolute;
    bottom: -30px;
    left: 98px;
    background-size: cover;
    animation: anima .5s ease-in 0s infinite alternate; 
}

/*Responsive header*/
@media only screen and (max-width:425px){
    header h1{
        font-size: 48px;
    }
}

/*covid*/

.covid{
    max-width: 940px;
    padding: 0 5px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;

}

.covid .content{
    flex: 1 0 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1{
    font-size: 48px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #042c4f;
}

.content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(146,96,191);
}

.covid .image{
    flex: 2 0 90px;
    padding-right: 50px;
}

.covid .image img{
    border-radius: 50%;   
}

/*Responsive Covid*/
@media only screen and (max-width:425px){
    .covid{
        flex-direction: column-reverse;
    }

    .covid .content h1{
        font-size: 40px;
    }

    .covid .image{
        flex: 2 0 90px;
        padding-right: 0;
    }

    .covid .content h1{
        text-align: center;
    }
}

/*Sistema*/

.sistema{
    max-width: 940px;
    margin: 40px auto;
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sistema h1{
    font-size: 48px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #009f00;
}

.sistema .content{
    flex: 1 0 425px;
}

.sistema .image{
    flex: 2 0 90px;
    padding:40px 0 0 50px;
}

.sistema .image img{
    border-radius: 50%;
}

/*Responsive Sistema*/
@media only screen and (max-width:425px){
    .sistema{
        flex-direction: column-reverse ;
    }
    .sistema .image{
        flex: 2 0 90px;
        padding: 0;
    }

    .sistema .content{
        padding-top: 40px;
    }

    .sistema .content h1{
        font-size: 40px;
        text-align: center;
    }
}

/*Taxas*/

.taxas{
    max-width: 940px;
    margin: 40px auto;
    padding: 0 5px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.taxas h1{
    text-align: center;
    font-size: 48px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #650dff;
}

.taxas .content{   
    flex: 1 0 425px;
}

.taxas .content .tabela img{
    margin: 0  0 0 auto;
}   

.taxas .image{
    flex: 2 0 90px;
    padding-top:50px;
}

.taxas .image p{
    text-align: center;
    width: 316.67px;
    font-size: 250px;
    font-weight: 400;
    background-color: rgba(146,96,191,0.5);
    color: rgb(146,96,191);
    border-radius: 50%;
}

@media only screen and (max-width:425px){
    .taxas{
        flex-direction: column-reverse;
    }
    .taxas .image{
        width: 90%;
        padding-bottom: 40px;
    }
    .taxas .image p{
        width: 100%;
    }
}

/*Premiação*/

.premiacao{
    max-width: 940px;
    margin: 40px auto;
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.premiacao h1{
    font-size: 48px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #ff783e;;
}

.premiacao .content{
    flex: 1 0 425px;
}

.premiacao .image{
    flex: 2 0 90px;
    padding:40px 0 0 50px;
}

#premiacao .image img{
    height: 316.67px;
    border-radius: 50%;
}

.premiacao .tabela{
    padding: 20px 0 10px 0;
    flex: 1;
    display: grid;
    grid-template-columns: 38px 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.tabela p{
    padding: 5px;
    font-size: 24px;
    color: #ff783e;
    font-weight: 700;
    text-align: center;
    background-color: #f6f8f7;
    border-radius: 10px;
}

.tabela .num1,.tabela .num2{
    border-radius: 50%;
    background-color: #ff783e;
    color:#f6f8f7;;
}
/*respondivo premiação*/

@media only screen and (max-width:425px){
    .premiacao{
        flex-direction: column-reverse ;
    }
    .premiacao .image{
        flex: 2 0 90px;
        padding: 20px 0;
    }
}